<div class="row">
	<div class="col-md-6">
		<h3>Datos de empresa: {{empresa.nombre}}</h3>
	</div>
	<div class="col-md-6">
		<p><a class="btn btn-success a_derecha" data-toggle="modal" data-target="#siguiente" ng-click="validar()">Simular</a></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p class="bg-warning pequena" >
		Esta es la información que se ha de llenar para llevar a cabo la simulación. La información entregada por la empresa es completamente confidencial y
		se utilizará sólamente generar la simulación.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h3>1 - Datos básicos</h3>
		<form name="form_izq" class="form-horizontal">
			<div class="form-group">
				<label class="col-md-3 control-label">Nombre simulacion</label>
				<div class="col-md-9"><input type="text" required class="form-control" popover="Este es un identificador para diferenciar la simulación en caso de que realice otras después"  popover-trigger="focus" popover-placement="top" ng-model="simulacion.nombre"/></div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Rubro</label>
				<div class="col-md-9">
					<select type="text" required popover="El rubro está asociado a la simulación, en caso de que su empresa presente más de un rubro. Con esta información se puede conocer aproximadamente las condiciones de operación de su industria."  popover-trigger="focus" popover-placement="right" class="form-control" ng-model="simulacion.rubro">
	                    <option value="1514">Aceite</option>
	                    <option value="1533">Alimento animales</option>
	                    <option value="2695">Artículos de hormigon</option>
	                    <option value="202X">Aserrado</option>
	                    <option value="1542">Azúcar</option>
	                    <option value="1554">Bebidas no alcohólicas</option>
	                    <option value="1511">Carne</option>
	                    <option value="210X">Cartón</option>
	                    <option value="251X">Caucho</option>
	                    <option value="2692">Cerámica</option>
	                    <option value="1553">Cerveza</option>
	                    <option value="1330">Cobre</option>
	                    <option value="1543">Confites</option>
	                    <option value="1911">Curtido</option>
	                    <option value="1551">Destilados</option>
	                    <option value="2424">Detergentes</option>
	                    <option value="2423">Farmaceéutica</option>
	                    <option value="1544">Fideos</option>
	                    <option value="1520">Lácteos</option>
	                    <option value="1541">Panadería</option>
	                    <option value="2101">Papel</option>
	                    <option value="1512">Pescado</option>
	                    <option value="2422">Pinturas</option>
	                    <option value="2413">Plásticos prim.</option>
	                    <option value="2421">Plaguicidas</option>
	                    <option value="2520">Productos plásticos</option>
	                    <option value="172X">Ropa</option>
	                    <option value="1600">Tabaco</option>
	                    <option value="171X">Textiles</option>
	                    <option value="1513">Vegetales procesados</option>
	                    <option value="1552">Vino</option>              
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Superficie disponible</label>
				<div class="col-md-4">
					<input type="text" required class="form-control" popover="Esta es la superficie que está disponible para colocar colectores solares. Puede ser superficie libre en suelo o techo"  popover-trigger="focus" popover-placement="top" ng-model="simulacion.superficie"/>
				</div>
				<div class="col-md-1"><label class="control-label">m&sup2;</label></div>
				<div class="col-md-3">
					<select required class="form-control" ng-init="simulacion.superficie_lugar = 1" ng-model="simulacion.superficie_lugar">
						<option value="1" ng-selected="true">techo</option>
						<option value="2" >suelo</option>
					</select>
				</div>
			</div>
		</form>
		<h3>2 - Localización de la planta</h3>
		<div id="map_canvas">
		    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="events" refresh="map.refresh" control="map.control" options="options">
		        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
		        </ui-gmap-marker>
		    </ui-gmap-google-map>
		</div>
	</div>
		<div class="col-md-6">
		<!--<div class="barra-nav">
			<div class="col-md-6" ng-class="active(1)">
				<a ng-click="set_hoja(1)">Consumo energético</a>
			</div>
			<div class="col-md-6" ng-class="active(2)">
				<a ng-click="set_hoja(2)">Características de la planta</a>
			</div>
		</div>-->
		
		<!-- CARACTERÍSTICAS DE LA PLANTA ################################################################################################ -->
		<div ng-show="hoja==2">
			<form name="form_der1" class="form-horizontal" novalidate>
				<h3>3 - Características de la planta</h3>
				<div class="form-group">
					<label class="col-md-4 control-label">Consumo mínimo de combustible (contrato)</label>
					<div class="col-md-4">
						<input type="text" ng-model="simulacion.consumo_minimo" class="form-control" popover="Este valor existe si en el contrato se ha acordado un mínimo de combustible a comprar con el proveedor"  popover-trigger="focus" popover-placement="top"/>
					</div>
					<div class="col-md-4">
						<select required class="form-control" ng-init="simulacion.unidad_consumo_minimo = 1" ng-model="simulacion.unidad_consumo_minimo">
						<option value="1" ng-selected="true">Ton/año</option>
                        <option value="2" selected="">Kg/año</option>
                        <option value="3" ng-if="simulacion.combustible!=1 && simulacion.combustible!=6 && simulacion.combustible!=7">Litros/año</option>
                        <option value="4" ng-if="simulacion.combustible!=1 && simulacion.combustible!=6 && simulacion.combustible!=7">m3/año</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Antigüedad de las instalaciones</label>
					<div class="col-md-4">
						<input type="text" ng-model="simulacion.antiguedad" required class="form-control" popover="Esta es la cantidad de años que lleva operativa la planta"  popover-trigger="focus" popover-placement="top" />
					</div>
					<label class="col-md-1 control-label">años</label>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Factura de electricidad</label>
					<div class="col-md-5"><input type="text" class="form-control" ng-model="simulacion.consumo_electrico_general" popover="Esta es la cantidad de energía eléctrica consumida por la planta en total (todo, incluyendo los procesos productivos y no-productivos)"  popover-trigger="focus" popover-placement="top"/></div>
					<div class="col-md-3">
						<select ng-model="sumulacion.unidad_consumo_electrico_general" ng-init="simulacion.unidad_consumo_electrico_general = 1" class="form-control">
	                        <option value="1" ng-selected="true">MW/año</option>
	                        <option value="2">kW/año</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Precio promedio electricidad</label>
					<div class="col-md-2"><input type="text" class="form-control" ng-model="simulacion.precio_electricidad" popover="Este es el precio por kWh promedio del último año de producción"  popover-trigger="focus" popover-placement="top" /></div>
					<div class="col-md-2"><label class="control-label">USD$/kW</label></div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Recuperación de calor</label>
					<div class="col-md-2">
						<input type="checkbox" ng-model="simulacion.recuperacion" required class="form-control" popover="¿La empresa cuenta con algún ciclo de recuperación de calor?"  popover-trigger="focus" popover-placement="top" />
					</div>
				</div>
			</form>
		</div>
		<!-- CONSUMO ENERGÉTICO ################################################################################################ -->
		<div ng-show="hoja==1">
		
		<form name="form_der2" class="form-horizontal" novalidate>

			<h3>3 - Consumo energético</h3>
			<h4 class="gen-calor">3.1 - Generación de calor</h4>
			<div class="form-group">
				<label class="col-md-4 control-label">Tipo de combustible utilizado</label>
				<div class="col-md-8">
					<select class="form-control" required name="combustible" ng-init="simulacion.combustible = 4" ng-model="simulacion.combustible">
                        <option value="1">Carbón</option>
                        <option value="2">Diesel</option>
                        <option value="3">Fuel Oil N° 6</option>
                        <option value="4" ng-selected="true">GNL</option>
                        <option value="5">GLP</option>
                        <option value="6">Leña</option>
                        <option value="7">Pellets madera</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Eficiencia general de generación</label>
				<div class="col-md-2"><input required type="text" ng-init="simulacion.eficiencia=85" class="form-control" ng-model="simulacion.eficiencia" popover="Esta es la eficiencia general de la industria, incluye los equipos de generación, la red de distribución y los mismos procesos."  popover-trigger="focus" popover-placement="top"/></div>
				<div clasS="col-md-1"><label class="control-label">%</label></div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Consumo de combustible</label>
				<div class="col-md-5"><input required type="text" class="form-control" ng-model="simulacion.consumo"/></div>
				<div class="col-md-3">
					<select required ng-model="simulacion.unidad_consumo" ng-init="simulacion.unidad_consumo = 1" class="form-control">
                        <option value="1" ng-selected="true">Ton/año</option>
                        <option value="2" selected="">Kg/año</option>
                        <option value="3" ng-if="simulacion.combustible!=1 && simulacion.combustible!=6 && simulacion.combustible!=7">Litros/año</option>
                        <option value="4" ng-if="simulacion.combustible!=1 && simulacion.combustible!=6 && simulacion.combustible!=7">m3/año</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Precio promedio del combustible</label>
				<div class="col-md-3"><input type="text" class="form-control" ng-model="simulacion.precio_combustible"/></div>
				<div class="col-md-3">
					<select required ng-init="simulacion.unidad_precio_combustible = 1" ng-model="simulacion.unidad_precio_combustible" class="form-control">
                        <option value="1" ng-selected="true">USD$/Ton</option>
                        <option value="2">USD$/Kg</option>
                        <option value="3" ng-if="simulacion.combustible!=1 && simulacion.combustible!=6 && simulacion.combustible!=7">USD$/Litros</option>
                        <option value="4" ng-if="simulacion.combustible!=1 && simulacion.combustible!=6 && simulacion.combustible!=7">USD$/m3</option>
					</select>
				</div>
				<div class="col-md-2">
					dolar: {{dolar}}
				</div>
			</div>
			<h4 class="gen-frio">3.2 - Generación de frío</h4>
			<div class="form-group">
				<label class="col-md-4 control-label">Consumo de electricidad</label>
				<div class="col-md-5"><input type="text" class="form-control" ng-model="simulacion.consumo_electrico" popover="Este es el consumo eléctrico proveniente del sistema de generación de frío"  popover-trigger="focus" popover-placement="top"/></div>
				<div class="col-md-3">
					<select ng-model="sumulacion.unidad_consumo_electrico" ng-init="simulacion.unidad_consumo_electrico = 1" class="form-control">
                        <option value="1" ng-selected="true">MW/año</option>
                        <option value="2">kW/año</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">COP estimado</label>
				<div class="col-md-2"><input type="text" class="form-control" ng-model="simulacion.cop" popover="Este es el rendimiento del sistema de generación de frío"  popover-trigger="focus" popover-placement="top" /></div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Precio promedio electricidad</label>
				<div class="col-md-2"><input type="text" class="form-control" ng-model="simulacion.precio_electricidad" popover="Este es el precio por kWh promedio del último año de producción"  popover-trigger="focus" popover-placement="top" /></div>
				<div class="col-md-2"><label class="control-label">USD$/kW</label></div>
			</div>
			</div>
		</form>
	</div>
</div>
<div class="modal fade" id="siguiente" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Antes de continuar...</h4>
      </div>
      <div class="modal-body">
        	<p>Para que pueda revisar los resultados de su simulación es necesario que ingrese una contraseña,
        	de manera que pueda iniciar sesión. Así, tendrá acceso a la plataforma de simulación y a todas sus ventajas.</p>
      	<form class="form-horizontal">
      		<div class="form-group">
				<label class="col-md-4 col-md-offset-2 control-label">Nombre de usuario</label>
				<div class="col-md-4">{{empresa.email}}</div>
			</div>	
      		<div class="form-group">
				<label class="col-md-4 col-md-offset-2 control-label">Contraseña</label>
				<div class="col-md-4"><input type="password" class="form-control" ng-model="empresa.pass"/></div>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="siguiente()">Confirmar</button>
      </div>
    </div>
  </div>
</div>